<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DIY COIN</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">
    <link href="css/timelify.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">DIYcoin</a>
        <a class="navbar-brand js-scroll-trigger" href="https://goo.gl/x1NM8N">WHITEPAPER</a>        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Crowdsale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Roadmap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://medium.com">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">with DIY coin, we will set up DIYLAB to create and manage several
creative projects and platforms to boost people creativity.</h1>
              <a href="http://diycoin.blockchains.kr/" class="btn btn-outline btn-xl js-scroll-trigger">BUY NOW</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Diycoin(DIY)</h2>
            <p class="text-justify">			
DIY people buy related kits and parts tools at retail stores, complete DIY in their home or creative
space, and then upload them to the gallery / exhibit / internet. diycoin provides services for kits /
parts / tools and connects exhibitions. As a result, you can DIY low costs, and many people can
exhibit and sell their products after cost savings. You can make money with diycoin, and you can
afford to learn and have a community. In the future, you can create a diycoin center in each country
to share and communicate products made by people around the world. And with Robot AI, everyone
will be able to create robots that can share their work and various works and methods from people
around the world.
            </p>
            <div class="badges">
              <a href="http://diycoin.blockchains.kr/" class="btn btn-primary btn-xl js-scroll-trigger">BUY NOW</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features bg-primary" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Boost People Creativity, Unlocked the gifts</h2>
          <p class="text-muted">Check out what we can do with this DIY coin!</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">  
			<div class="timeline">
				<h2>2018</h2>
				<ul class="timeline-items">
					<li class="timeline-item inverted animated fadeInRight" style="animation-duration: 600ms;">
						<time>Q2 Q3 Q4 / 2018</time>
						<h5>m8kerLab.com</h5>
						<h5>
(Maker Lab) is a maker's portfolio website, anyone who has Creative
ideas of making things and want to share their ideas to the public can use our website, and we will
also have contests to boost people creativity all year long, any companies which love creative ideas
and innovations could be our sponsors. Make It Your Way And Share!
						</h5>
					</li>
				</ul>
				<h2>2019</h2>
				<ul class="timeline-items">
					<li class="timeline-item animated fadeInLeft" style="animation-duration: 600ms;">
						<time>Q1 / 2019</time>
						<h5>DIYcoin Creative Space</h5>
					</li>

					<li class="is-hidden timeline-item inverted">
						<time>Q2 / 2019</time>
						<h5>AIY – ROBOT KIT</h5>
					</li>

					<li class="is-hidden timeline-item">
						<time>Q4 / 2019</time>
						<h5>DIYDAY</h5>
					</li>

				</ul>
				<h2>2020</h2>
				<ul class="timeline-items">

					<li class="is-hidden timeline-item inverted">
						<time>Q1 / 2020</time>
						<h5>DIY Museum</h5>
					</li>

					<li class="is-hidden timeline-item centered">
						<time>MID 2020 onward</time>
						<h5>Scale to global</h5>
					</li>

				</ul>

			</div>
		</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start building.</h2>
          <a href="https://m8kerlab.com" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>we
          <i class="fa fa-heart"></i>
          new friends!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; DIYcoin 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>
    <script src="js/jquery.timelify.js"></script>
    <script>
$(document).ready(function() {
	
	$('.timeline').timelify({
			animLeft: "fadeInLeft",
		animCenter: "fadeInUp",
		animRight: "fadeInRight",
		animSpeed: 600,
		offset: 150
	});

});
	</script>
  </body>

</html>
